<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/payment.css" />
    <title>Invoice</title>
  </head>
  <body>
    <div class="form-container">
      <div class="form">
        <h1 class="heading">checkout</h1>
        <p>Delivery Address</p>
        <input type="text" id="address" placeholder="address" />
        <input type="text" id="street" placeholder="street" />
        <input type="text" id="city" placeholder="city" />
        <input type="text" id="state" placeholder="state" />
        <input type="text" id="pincode" placeholder="pincode" />
        <input type="text" id="landmark" placeholder="landmark" />
      </div>
    </div>
    <div class="container">
      <!-- Company Address, Location, Date, Time -->
      <div class="company-info">
        <p>Company Name</p>
        <p>Company Address</p>
        <p>Company Location</p>
        <p>Date: March 21, 2024</p>
        <p>Time: 10:00 AM</p>
      </div>
      <!-- Customer Address, Name, Location, Phone Number -->
      <div class="customer-info">
        <p>Customer Name</p>
        <p>Customer Address</p>
        <p>Customer Location</p>
        <p>Phone Number: 123-456-7890</p>
      </div>
      <div class="invoice">
        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Category</th>
              <th>Colour</th>
              <th>Size</th>
              <th>Material</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total Price</th>
            </tr>
          </thead>
          <tbody>
            <!-- Table rows will be dynamically added here -->
          </tbody>
        </table>
      </div>
      <!-- Footer with Total Value -->
      <div class="footer">
        <p>Total: $1000</p>
      </div>
      <a href="#" id="buy_now_btn" class="btn btn-primary"
        ><button>Buy Now</button></a
      >
    </div>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="../static/scripts/payment.js"></script>
  </body>
</html>
