<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/payment.css" />
    <title>Invoice</title>
    <link rel="shortcut icon" href="../static/images/logo.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body data-user-id="{{ user.id }}">
    <div class="form-container">
      <div class="form">
        <h1 class="heading">checkout</h1>
        <p>Delivery Address</p>
        <div class="user">
          <i class="fas fa-map-marker-alt"></i>
          <input type="text" id="address" placeholder="address" />
        </div>

        <div class="user">
          <i class="fas fa-road"></i>
          <input type="text" id="street" placeholder="street" />
        </div>

        <div class="user">
          <i class="fas fa-city"></i>
          <input type="text" id="city" placeholder="city" />
        </div>

        <div class="user">
          <i class="fas fa-map"></i>
          <input type="text" id="state" placeholder="state" />
        </div>

        <div class="user">
          <i class="fas fa-thumbtack"></i>
          <input type="text" id="pincode" placeholder="pincode" />
        </div>

        <div class="user">
          <i class="fas fa-landmark"></i>
          <input type="text" id="landmark" placeholder="landmark" />
        </div>

        <div class="user">
          <i class="fas fa-phone"></i>
          <input type="number" id="Phonenumber" placeholder="Phonenumber" />
        </div>
        <button id="sub-btn">Submit</button>
      </div>
    </div>
    <div class="container">
      <!-- Company Address, Location, Date, Time -->
      <div class="company-info">
        <p class="uppercase-bold">Sweet Touch</p>
        <p>No 1 Agbalusia ngene avenue</p>
        <p>Asaba</p>
        <p style="margin-top: -10px">Date: {{ now.strftime('%Y-%m-%d') }}</p>
        <p style="margin-top: -10px">Time: {{ now.strftime('%H:%M:%S') }}</p>
      </div>
      <!-- Customer Address, Name, Location, Phone Number -->
      <div class="customer-info">
        <p class="uppercase-bold">{{ user.first_name }} {{ user.last_name }}</p>
        <p>
          Location:
          <span class="capitalize-first-letter" id="Del_Address"></span>
        </p>
        <p>Phone: <span id="PhoneNumber"></span></p>
      </div>
      <div class="invoice">
        <h1
          style="
            position: absolute;
            top: 130px;
            left: 400px;
            color: red;
            font-size: 80px;
          "
        >
          Invoice
        </h1>
        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Category</th>
              <th>Colour</th>
              <th>Size</th>
              <th>Material</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total Price</th>
            </tr>
          </thead>

          <tbody>
            {% for content in cartContent %}
            <tr>
              <td>
                <img
                  style="width: 50px"
                  src="{{ content.ProductImage}}"
                  alt=""
                />
              </td>

              <td>{{ content.Name}}</td>
              <td>{{ content.Category}}</td>
              <td>{{ content.Color}}</td>
              <td>{{ content.Size}}</td>
              <td>{{ content.Material}}</td>
              {% if content.id in user.cart_contentsQuantity %}
              <!-- If it exists, fill the quantity column with the corresponding value -->
              <td>{{ user.cart_contentsQuantity[content.id] }}</td>
              {% else %}
              <!-- If it doesn't exist, show a placeholder or default value -->
              <td>1</td>
              {% endif %}
              <td>${{ content.Price}}</td>
              <td>
                $ {{ getTotal(content.Price,
                user.cart_contentsQuantity[content.id]) }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- Footer with Total Value -->
      <div class="footer">
        <p>SubTotal: <b id="subTotal">$0</b></p>
        <p>Delivery Charges: <b id="delivery_charge">$0</b></p>
        <p>TOTAL DUE: <b id="total_due">$0</b></p>
      </div>
      <a href="#" style="display: none" id="buy_now_btn" class="btn btn-primary"
        ><button id="payment">Proced To Payment</button></a
      >
    </div>
    <script></script>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="../static/scripts/payment.js"></script>
  </body>
</html>
